body {
    background-color: 
    rgba(213, 186, 219, 1);}
  
ul{
  font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #301934;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ol{
  font-family: 'Nunito';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;

color: #301934;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
}

h2{
    font-family: 'Rosario';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;

color: #000000;

}

h3{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 50px 250px 250px 100px;
    gap: 0;
  }
  
  .box1{
    /* Hello World*/
    display: flex;
    grid-column: 2/1;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    background-color:rgba(134, 96, 142, 1);
   
   /* background-color:rgba(134, 96, 142, 1);*/

    
  }

  .box1 h1{
    color: #fff;
    float: right;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;

  }

  /*
  .box2{
    /*Hello World*/
   /* grid-column: 5/2;
    grid-row: 2/1;
    float: left;
    bac
  */
  
  .box2 {
    /*Menu bar*/
    grid-column:2;
    grid-row: 1;
    background-color:rgb(110, 233, 135);
    margin-right: -10px;
  }


.box3 {
    /* Headshot*/
    grid-column: 3/4;
    grid-row:1 ;
    object-fit: scale-down;
    background-color:#218bb8;;
  }

.feature {
    height: 80px;
    width: 40px;
    margin: 2px;
    padding: 2px;
    object-fit: contain;
    object-position: top center;}

.box4{
    /* text*/
    background-color: rgb(18, 214, 168);
    /*padding: 35px;
    margin: 10px; */
    grid-column:1;
    grid-row: 2/3;
}

.box5{
  /* text*/
  background-color: crimson;
  /*padding: 35px;
  margin: 10px; */
  grid-column:1;
  grid-row: 3/4;
}

.box6 { /* link to AM site*/
    background-color: coral;
    grid-column:3/2;
    grid-row: 2/4;
 
}

.box7{
   
    grid-column:3;
    grid-row: 2/4;
    background-color: hotpink;
}

.logo{
    object-fit: contain; 
}

.box8 {
  grid-column:1;
  grid-row: 4;
  background-color: rgb(255, 225, 0);
  float: right;
}

.box9{
  grid-column: 2/3;
  grid-row: 4;
  background-color: #ee629f;
}

.box10{
  grid-column: 4/3;
  grid-row: 4;
  background-color: #fff;
}





.link { color: #ffffff; } /* CSS link color (red) */
.link:hover { color:rgba(35, 67, 177, 1); } /* CSS link hover (green) */

img {

    height: 100%;
    width: 100%;

  }


.button {
  /* Green */
  background-color: rgba(134, 96, 142, 1);;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 23px; 
}


  
@media only screen and (max-width: 600px){
    body{
        background-color: green;
    }
  }
    
/* @media only screen and (max-width: 1900px){
    body{
        background-color:;
    }
  } */
 /* 
.colors{
  background: rgba(213, 186, 219, 1);
  background: rgba(182, 149, 192, 1);
  background: rgba(134, 96, 142, 1);
  background: rgba(86, 60, 92, 1);
  background: rgba(48, 25, 52, 1)

  nav {
    
        padding: .5em;
        top:0; /* added this and line below*/ 
        /*
        position: sticky;
        background-color:rgba(134, 96, 142, 1);
    
    
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content:space-between;
        border-radius: 15px;
    }
    
    nav a {
        color: #fff;
        text-decoration: none;
        padding: .5em 1em;
    }

position: absolute;
width: 240px;
height: 40px;
left: 955px;
top: 171px;

background: #B695C0;
border-radius: 23px;

*/