*{
    padding: 0;
    margin: 0;
}

#game{
    width: 600px;
    height: 200px;
    border: 1px solid purple;
    margin: auto;
}

#character{
    width: 50px;
    height: 50px;
    background-image: url(/midtermPages/character.PNG);
    background-size: 50px 50px ;
    position: relative;
    top: 150px;
    
    
}

.jump{
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%{top:150px;}
    30%{top:130px;}
    50%{top:80px;}
    80%{top:130px}
    100%{top:150px;}

}
    
#block{
    width: 20px;
    height: 40px;
    background-image: url(/midtermPages/block.PNG);
    background-size: 20px 40px;
    position: relative;
    left: 580px;
    top: 110px;
    animation: block 1s infinite linear;
}


@keyframes block{
    0%{left:580px;}
    100%{left:0px;}
    
}