* {
  box-sizing: border-box;
  background-color: #ccc;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
 /* background-image:url(logo.png); my solution */

}

/* Your CSS below here */




article{
background-color: rgb(255, 255, 255);
border-top: 2mm red;
border-bottom: 2mm red;
background-image: url(top-image.png) ,
url(bottom-image.png);
background-repeat: no-repeat;
background-position: top, bottom;
 /* still need to add gradient */


} 

address{
  background-color: white;
}

p{
  background-color: white;
} 

/* p background is covering the bottom image*/


/**/ 

 /* Anthony's Solution
article{
  background: top/contain
  no-repeat url(top-image.png);
  background: bottom/contain
  no-repeat url(bottom-image.png);

}
*/


/*Anthony's solution below*/

h1{ 
  background-image:url(logo.png);
text-shadow: 4px 4px 4px black;
border-radius: 50%;}

/* 
The main letter----
Apply the CSS to the HTML. DONE
Add a background declaration to the letter that:
Fixes the top image to the top of the letter DONE 
Fixes the bottom image to the bottom of the letter DONE
Adds a semi-transparent gradient over the top of both of the previous backgrounds that gives the letter a bit of texture.
Make it slightly dark right near the top and bottom, but completely transparent for a large part of the center.
Add a white background color to the letter.
Add a 1mm top and bottom solid border to the letter, in a color that is in keeping with the rest of the color scheme.

The logo----
To the <h1>, add the logo as a background image.
Add a filter to the logo to give it a subtle drop shadow.

*/